li{
    list-style: none;
    max-width: 400px;
    margin: 2px;
    background-color: #b89e97cb;
    min-width: 300px;
}
li > #header{

}
li > #content{
    overflow-x: scroll;
}
li > #header > span{
    right:0
}